.tmdb-app-template-container {  
  .tmdb-page-container {
    background-color: $secondary;
    width: calc(100% + 220px);
    flex: 1;
    max-width: none;
  }

  .tmdb-main-menu-container {
    background-color: $primary;
    max-width: 220px;
  }
}
