/**
 * Tmdb Global Spinner
 */

.tmdb-app-spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondary;

  div {
    color: $tertiary;
  }
}
