.tmdb-movie-details-content-container {
  padding: 24px;
  background: $secondary;

  .tmdb-movie-details-card-image-container {
    box-shadow: none;
    background: none;

    .tmdb-movie-details-card-image {
      background-size: contain;
      margin: auto;
      width: 500px;
      height: 500px;
    }
  }
}

.tmdb-movie-details-with-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 450px;
  padding: 24px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.4);
  }

  > div {
    z-index: 1;
  }
}