.tmdb-main-menu .tmdb-menu-item {
  cursor: pointer;

  &.tmdb-menu-item-active {
    border-right: 2px inset $tertiary;

    .tmdb-menu-item-icon {
      color: $tertiary;
    }

    .tmdb-menu-item-label span {
      color: $tertiary;
    }
  }
}
